{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "babel-plugin-styled-components"
        ],
        [
            "module-resolver",
            {
                "root": ["./src"],
                "extensions": [".js", ".ios.js", ".android.js"],
                "alias": {
                    "@env": "@env",
                    "@src": "./src",
                    "@noke-api": "./src/noke-api/index",
                    "@store": "./src/app/store",
                    "@root-reducer": "./src/app/root-reducer",
                    "@hooks": "./src/hooks",
                    "@screens": "./src/screens",
                    "@utilities": "./src/utilities",
                    "@components": "./src/components/index",
                    "@reducers": "./src/redux",
                    "@noke": "./src/noke/noke",
                    "@noke-state": "./src/noke-state",
                }
            }
        ],
        [
            "module:react-native-dotenv",
            {
                "moduleName": "@env",
                "path": ".env",
                "blacklist": null,
                "whitelist": null,
                "safe": false,
                "allowUndefined": true
            }
        ]
    ]
}
