// NOTE: "babel-preset-react-native has been replaced by metro-react-native-babel-preset"
// NOTE: Aliases are implemented for the following purposes:
//  - Only paths in .babelrc & tsconfig.json need changing to move a Feature Folders
//  - Quick access to commonly referenced components, selectors, etc.
//  Redux files should be referenced from their feature, even if root__ requires more paths
{
    "presets": ["module:metro-react-native-babel-preset"],
    "env": {
        "production": {
          "plugins": ["react-native-paper/babel"]
        }
    },
    "plugins": [
        [
            "babel-plugin-styled-components"
        ],
        [
            "module-resolver",
            {
                "root": ["./src"],
                "extensions": [".ios.js", ".android.js", ".js", ".ts", ".tsx", ".json"],
                "alias": {
                    "@assets": "./assets/index",
                    "@common": "./src/components/common",
                    "@env": "@env",
                    "@hooks": "./src/hooks/index",
                    "@navigators": "./src/components/navigators/index",
                    "@noke-constants": "./src/noke/noke-constants",
                    "@noke-slices": "./src/noke/noke-slices/index",
                    "@noke-api": "./src/noke/noke-api/index",
                    "@noke-sagas": "./src/noke/noke-sagas/index",
                    "@noke": "./src/noke/index",
                    "@root-reducer": "./src/redux/root-reducer",
                    "@selectors": "./src/redux/selectors",
                    "@settings": "./src/components/settings/index",
                    "@store": "./src/redux/store",
                    "@theme": "./src/theme/index",
                    "@views": "./src/components/views/index",
                    "@utilities": "./src/util/index"
                }
            }
        ],
        [
            "module:react-native-dotenv",
            {
                "moduleName": "@env",
                "path": ".env",
                "blacklist": null,
                "whitelist": null,
                "safe": false,
                "allowUndefined": true
            }
        ]
    ]
}
