{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "module:react-native-dotenv",
            {
                "moduleName": "@env",
                "path": ".env",
                "blacklist": null,
                "whitelist": null,
                "safe": false,
                "allowUndefined": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["./src"],
                "extensions": [".js", ".ios.js", ".android.js"],
                "alias": {
                    "src": "./src",
                    "store": "./src/store.js",
                    "api": "./src/api/index",
                    "hooks": "./src/hooks/index",
                    "screens": "./src/screens/index",
                    "utilities": "./src/utilities/index",
                    "components": "./src/components/index",
                    "noke": "./src/services/noke-service/index"
                }
            }
        ]
    ]
}
